@import './fonts.css';
@import '../styles/variables.css';

body {
  font-family: 'Figtree', sans-serif;
  background-color: var(--color-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media screen and (max-width: 375px) {
  body {
    padding: 20px;
  }
}
